# Testing the API

In [1]:
import requests
import os

In [16]:
url = 'https://epic.gsfc.nasa.gov/api/natural'
res = requests.get(url)

In [17]:
# Example data retrieved
res.json()[0]

{'identifier': '20200407022436',
 'caption': "This image was taken by NASA's EPIC camera onboard the NOAA DSCOVR spacecraft",
 'image': 'epic_1b_20200407022436',
 'version': '03',
 'centroid_coordinates': {'lat': 14.633789, 'lon': 147.458496},
 'dscovr_j2000_position': {'x': 1303889.966854,
  'y': 450569.4323,
  'z': 357030.695896},
 'lunar_j2000_position': {'x': -355481.886455,
  'y': -29414.550557,
  'z': 21316.302326},
 'sun_j2000_position': {'x': 142846831.232179,
  'y': 41227412.074587,
  'z': 17872002.533924},
 'attitude_quaternions': {'q0': 0.1526,
  'q1': -0.15898,
  'q2': -0.96551,
  'q3': 0.13864},
 'date': '2020-04-07 02:19:47',
 'coords': {'centroid_coordinates': {'lat': 14.633789, 'lon': 147.458496},
  'dscovr_j2000_position': {'x': 1303889.966854,
   'y': 450569.4323,
   'z': 357030.695896},
  'lunar_j2000_position': {'x': -355481.886455,
   'y': -29414.550557,
   'z': 21316.302326},
  'sun_j2000_position': {'x': 142846831.232179,
   'y': 41227412.074587,
   'z': 17872002.533924},
  'attitude_quaternions': {'q0': 0.1526,
   'q1': -0.15898,
   'q2': -0.96551,
   'q3': 0.13864}}}

In [18]:
# Example data retrieved
print(res.json()[0]['identifier'])
YYYYMMDD = res.json()[0]['identifier']
year = YYYYMMDD[:4]
month = YYYYMMDD[4:6]
day = YYYYMMDD[6:8]
print(year, month, day)

20200407022436
2020 04 07

In [ ]:
# Define when
def getSatelite(YYYYMMDD,queryParams=dict(),apiKey=""):
    
year = YYYYMMDD[:4]
month = YYYYMMDD[4:6]
day = YYYYMMDD[6:8]
    
    
    # Construct the resource url
    url = f'https://epic.gsfc.nasa.gov/api/natural'
    # metadata = f"https://epic.gsfc.nasa.gov/api/natural/date/{year}-{month}-{day}"
    
    # If apiKey is defined, pass a header
    headers = {"Authorization":f"token {apiKey}"} if apiKey else {}

    # Perform the request
    res = requests.get(url, params=queryParams, headers=headers)
    print(res.status_code, res.url)
    
    # Extract json from body response
    return res.json()


#specify requests url
metadata = f"https://epic.gsfc.nasa.gov/api/natural/date/{year}-{month}-{day}"

In [ ]:
# Define when
month = '08'
day = '21'
year = '2017'

#specify requests url
metadata = f"https://epic.gsfc.nasa.gov/api/natural/date/{year}-{month}-{day}"

meta = file_get_contents($metadata);   # get the metadata for that date and collection
arr = json_decode($meta);  # decode the metadata

foreach($arr as $item) {
    $name = $item->image . '.png';
    $archive = "https://epic.gsfc.nasa.gov/archive/natural/{$year}/{$month}/{$day}/png/";

    $source = $archive . $name;
    $destination = '/path/to/downloads/' . $name;

    copy($source, $destination);    // download and copy the image
    }

In [ ]:
def getSatelite(path,queryParams=dict(),apiKey=""):
    
    # Construct the resource url
    url = f'https://epic.gsfc.nasa.gov/api/natural'
    
    # If apiKey is defined, pass a header
    headers = {"Authorization":f"token {apiKey}"} if apiKey else {}

    # Perform the request
    res = requests.get(url, params=queryParams, headers=headers)
    print(res.status_code, res.url)
    
    # Extract json from body response
    return res.json()

# Working with datetime

In [37]:
import pandas as pd
import numpy as np
import datetime

In [21]:
date_rng = pd.date_range(start='1/1/2015', end='10/04/2020', freq='D')
date_rng

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2020-09-25', '2020-09-26', '2020-09-27', '2020-09-28',
               '2020-09-29', '2020-09-30', '2020-10-01', '2020-10-02',
               '2020-10-03', '2020-10-04'],
              dtype='datetime64[ns]', length=2104, freq='D')

In [23]:
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0,100, size=(len(date_rng)))
df.head()

        date  data
0 2015-01-01    73
1 2015-01-02     5
2 2015-01-03    36
3 2015-01-04    86
4 2015-01-05    31

In [33]:
df['datetime'] = pd.to_datetime(df.date)
df = df.set_index('datetime')

#list only the second day of each month
#df[df.index.day == 2]

# calculate mean of each year
df.resample('M').mean()

                 data
datetime
2015-01-31  47.741935
2015-02-28  55.250000
2015-03-31  48.451613
2015-04-30  45.600000
2015-05-31  53.354839
...               ...
2020-06-30  45.733333
2020-07-31  53.225806
2020-08-31  39.935484
2020-09-30  51.500000
2020-10-31  62.500000

[70 rows x 1 columns]

In [42]:
year= 2020
month= 2
day=6

datetime.date(year,month,day).weekday()

3

In [45]:
datetime.date.today()

datetime.date(2020, 4, 10)